// Color
color-background = #eee
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #1d9531
// color-link = #258fb8

// Font
font-default = "Helvetica Neue", Helvetica, "Microsoft Yahei", "Segoe UI", Arial, freesans, sans-serif;
font-serif = Georgia, "Times New Roman", "Microsoft Yahei", serif
font-mono = Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei", monospace
font-title = "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif

// @import url("//http://fonts.useso.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext")

font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

// Width
page-width = 1200px
