<% if (page.prev || page.next){ %>
<section id="nav">
  <div class="post-nav">
    <div class="post-nav-prev">
      <% if (page.prev) { %>
        <a href="<%- url_for(page.prev.path) %>"><< <%= __('prevarticle') %></a>
      <% } %>
    </div>

    <div class="post-nav-next">
      <% if (page.next) { %>
        <a href="<%- url_for(page.next.path) %>"><%= __('nextarticle') %> >></a>
      <% } %>
    </div>
  </div>
</section>
<% } %>