.post-nav
  padding: 10px 40px 30px 40px;

.post-nav-prev
  float: left;
  a
   font-size: 1.5em;
   font-family: "Titillium Web","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;

.post-nav-next
  float: right;
  a
   font-size: 1.5em;
   font-family: "Titillium Web","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;