.toc-article {
	padding: 1em;
	position: relative;
}
 
.toc-article .toc-title{
	padding-bottom: 0.8em;
	font-weight: bold;
}
 
#toc {
	line-height: 1.2em;
	font-size: 0.83em;
}
 
#toc .toc {
	padding: 0
}
 
#toc .toc li {
	list-style-type: none
}
 
#toc ol {
	margin: 0;
}
 
#toc .toc-child {
	padding-left: 0
}